<h5>Address List</h5>
<table class="table table-hover table-striped table-bordered table-sm">
	<thead>
		<tr style="color:white;background:black;text-align:center">
			<td style="text-align:center">street</td>
			<td style="text-align:center">city</td>
			<td style="text-align:center">state</td>
			<td style="text-align:center">zipCode</td>
			<td colspan="2">Actions</td>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let address of addresss" style="text-align:center">
			<td style="vertical-align:middle">{{ address.street }}</td>
			<td style="vertical-align:middle">{{ address.city }}</td>
			<td style="vertical-align:middle">{{ address.state }}</td>
			<td style="vertical-align:middle">{{ address.zipCode }}</td>
			<td style="vertical-align:middle"><a [routerLink]="['/editAddress', address._id]" class="btn btn-primary btn-sm">Edit</a></td>
			<td style="vertical-align:middle"><button (click)="deleteAddress(address._id)"  class="btn btn-danger btn-sm">Delete</button></td>
		</tr>
	</tbody>
</table>
