<div class="panel panel-primary">
	<div class="panel-heading">
    	<h5>{{ title }}</h5>
	</div>
	
	<div class="panel-body">
 		<mat-form-field appearance="legacy">
    		<mat-label>name</mat-label>
		    <input matInput ngDefaultControl placeholder="name" name="company.name" [(ngModel)]="company.name">
    		<mat-hint></mat-hint>
  		</mat-form-field>
<p>
   		<mat-form-field appearance="legacy">
    		<mat-label>Employees</mat-label>
			<mat-select placeholder="Employees" multiple  [compareWith]="compareFn"  [(ngModel)]="company.Employees">
		    	<mat-option name="company.Employees" ngDefaultControl  
		    		*ngFor="let employee of employees"		    		 
		    		[value]="employee._id">
		      		{{employee.firstName}}
		    	</mat-option>
		  	</mat-select>
		</mat-form-field>
<p>
   		<mat-form-field appearance="legacy">
    		<mat-label>Address</mat-label>
			<mat-select placeholder="Address"   [compareWith]="compareFn"  [(ngModel)]="company.Address">
		    	<mat-option name="company.Address" ngDefaultControl  
		    		*ngFor="let address of addresss"		    		 
		    		[value]="address._id">
		      		{{address.street}}
		    	</mat-option>
		  	</mat-select>
		</mat-form-field>
<p>
 		<mat-form-field appearance="legacy">
		    <mat-label>Type</mat-label>
			<mat-select placeholder="Type" name="company.Type" [(ngModel)]="company.Type">
		    	<mat-option ngDefaultControl *ngFor="let CompanyType of CompanyTypes" [value]="CompanyType">
		      		{{CompanyType}}
		    	</mat-option>
		  	</mat-select>
		</mat-form-field>
<p>
                <button 
		    (click)="updateCompany(company.name, company.Employees, company.Address, company.Type)" 
		    class="btn btn-primary">update
		</button>
	</div> <!-- panel body -->	
</div> <!-- panel panel-primary -->
