<div class="app-header">angular7demo</div>

<mat-sidenav-container class="app-container">
    
	<mat-sidenav #sidenav mode="side" opened class="app-sidenav">
	
	  <button mat-menu-item [matMenuTriggerFor]="CompanyMenu">Company</button>
	  <button mat-menu-item [matMenuTriggerFor]="EmployeeMenu">Employee</button>
	  <button mat-menu-item [matMenuTriggerFor]="AddressMenu">Address</button>
	
	<mat-menu #CompanyMenu="matMenu">
	  	<a routerLink="createCompany">
	  		<button mat-menu-item>Add</button>
	  	</a>
		<a routerLink="indexCompany">
	  		<button mat-menu-item>Show All</button>
	  	</a>
	</mat-menu>
	<mat-menu #EmployeeMenu="matMenu">
	  	<a routerLink="createEmployee">
	  		<button mat-menu-item>Add</button>
	  	</a>
		<a routerLink="indexEmployee">
	  		<button mat-menu-item>Show All</button>
	  	</a>
	</mat-menu>
	<mat-menu #AddressMenu="matMenu">
	  	<a routerLink="createAddress">
	  		<button mat-menu-item>Add</button>
	  	</a>
		<a routerLink="indexAddress">
	  		<button mat-menu-item>Show All</button>
	  	</a>
	</mat-menu>

    </mat-sidenav>
	
	<mat-sidenav-content>
		<div class="container" style="padding-top:10px">
			<router-outlet></router-outlet>
		</div>
	</mat-sidenav-content>
	
</mat-sidenav-container>	